<!doctype html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BarberQuest</title>
    <link rel="shortcut icon" type="image/png" href="static/images/logo.png">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{.CSS}}">
</head>

<body>
<nav class="navbar navbar-expand-lg primaryColor sticky-top" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="static/images/logo.png" alt="logo" width="80cm" height="80cm">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 custom-spacing">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active" aria-current="page" href="/appointment">Agendar</a>
                </li>
            </ul>
            <center>
                <button id="loginButton" type="button" class="btn btn-outline-light" data-bs-toggle="modal"
                        data-bs-target="#modalLogin">Login
                </button>

                <button id="profileButton" class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" style="display: none">
                    Perfil
                </button>

            </center>
            </strong>
        </div>
    </div>

</nav>
<div class="main-content">
    <div class="container primaryColor rounded mt-5 text-center">
        <h1>Consultar Agendamentos</h1>
    </div>

    <div class="container mt-4">
        <div class="row primaryColor rounded pb-3">
            <div class="col-md-4">
                <label for="barberSelect" class="form-label">Selecione o Barbeiro:</label>
                <select id="barberSelect" class="form-select"></select>
            </div>
            <div class="col-md-4">
                <label for="dateInput" class="form-label">Escolha a Data:</label>
                <input type="date" id="dateInput" class="form-control">
            </div>
            <div class="col-md-4 col-12 d-flex align-items-end mt-md-0 mt-3">
                <button class="btn btn-success w-100" onclick="fetchAppointments()">Buscar Agendamentos</button>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="table-responsive">
            <table class="table table-bordered mt-3 table-secondary">
                <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Contato</th>
                    <th>Serviço</th>
                    <th>Data e Hora</th>
                </tr>
                </thead>
                <tbody id="appointmentsTable">
                <tr>
                    <td colspan="4" class="text-center">Nenhum agendamento encontrado.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div id="footer-container"></div>
<script>
    document.addEventListener("DOMContentLoaded", async () => {
        await loadBarbers();
    });

    async function loadBarbers() {
        isTokenExpired()

        const response = await fetch("/getAllBarbers");
        const barbers = await response.json();
        const barberSelect = document.getElementById("barberSelect");
        barbers.forEach(barber => {
            const option = document.createElement("option");
            option.value = barber.ID;
            option.textContent = barber.name;
            barberSelect.appendChild(option);
        });
    }

    async function fetchAppointments() {
        isTokenExpired()
        const barberId = document.getElementById("barberSelect").value;
        const date = document.getElementById("dateInput").value;
        const token = localStorage.getItem("jwt_token");

        if (!barberId || !date) {
            showAlert("Por favor, selecione um barbeiro e uma data.");
            return;
        }

        const response = await fetch(`/getAppointmentsByDateAndBarberId/${date}/${barberId}`, {
            headers: {
                "Authorization": `Bearer ${token}`
            }
        });

        if (response.status === 404) {
            renderAppointments([]);
            return;
        }

        if (!response.ok) {
            showAlert("Erro ao buscar agendamentos.");
            return;
        }

        const appointments = await response.json();
        renderAppointments(appointments);
    }

    async function renderAppointments(appointments) {
        isTokenExpired()
        const tableBody = document.getElementById("appointmentsTable");
        tableBody.innerHTML = "";

        if (appointments.length === 0) {
            tableBody.innerHTML = '<tr><td colspan="4" class="text-center">Nenhum agendamento encontrado.</td></tr>';
            return;
        }

        const servicesResponse = await fetch("/getAllService");
        const services = await servicesResponse.json();

        appointments.forEach(appointment => {
            const service = services.find(s => s.ID === appointment.service_id) || {name: "Desconhecido"};
            const dateTime = new Date(appointment.date).toLocaleString("pt-BR", {
                hour: "2-digit",
                minute: "2-digit",
                day: "2-digit",
                month: "2-digit",
                year: "numeric"
            });

            cellphone = formatCellphoneInput(appointment.client_contact)

            if(appointment.completed){
            const row = `<tr>
                    <td class="bg-success text-light">${appointment.client_name}</td>
                    <td class="bg-success text-light">${cellphone}</td>
                    <td class="bg-success text-light">${service.name}</td>
                    <td class="bg-success text-light">${dateTime}</td>
                </tr>`;
            tableBody.innerHTML += row;
        } else if (appointment.completed === false) {
                row = `<tr>
                    <td class="bg-danger text-light">${appointment.client_name}</td>
                    <td class="bg-danger text-light">${cellphone}</td>
                    <td class="bg-danger text-light">${service.name}</td>
                    <td class="bg-danger text-light">${dateTime}</td>
                </tr>`;
                tableBody.innerHTML += row;
            }else {
                row = `<tr>
                    <td>${appointment.client_name}</td>
                    <td>${cellphone}</td>
                    <td>${service.name}</td>
                    <td>${dateTime}</td>
                </tr>`;
                tableBody.innerHTML += row;
            }

        });
    }
</script>
<script src="static/bootstrap/js/bootstrap.bundle.min.js" defer></script>
<script src="{{.JS}}" defer></script>
</body>

<div id="modals-placeholder"></div>

<!-- Offcanvas para Usuário Comum -->
<div class="offcanvas offcanvas-start primaryColor" data-bs-theme="dark" tabindex="-1" id="offcanvasUser"
     aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Perfil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <center>
            <a style="font-size:130%" href="/myProfile" class="link-light "><img
                        src="static/images/usuario-de-perfil.png" class="me-3">Meu perfil</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/myAppointments" class="link-light "><img
                        src="static/images/time-and-calendar.png" class="me-3">Meus agendamentos</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/myHistoric" class="link-light "><img src="static/images/relogio.png"
                                                                                  class="me-3">Meu histórico</a>
            <br>
            <hr>
            <button id="logoutButton" type="button" class="btn btn-outline-danger" onclick="logout()">Sair</button>
        </center>
    </div>
</div>

<!-- Offcanvas para Barbeiro -->
<div class="offcanvas offcanvas-start primaryColor" data-bs-theme="dark" tabindex="-1" id="offcanvasBarber"
     aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Perfil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <center>
            <a style="font-size:130%" href="/myProfile" class="link-light "><img
                        src="static/images/usuario-de-perfil.png" class="me-3">Meu perfil</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/myAppointmentsBarber" class="link-light "><img
                        src="static/images/time-and-calendar.png" class="me-3">Meus agendamentos</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/inPersonAppointments" class="link-light "><img
                        src="static/images/relogio.png" class="me-3">Agendamento presencial</a>
            <br>
            <hr>
            <a style="font-size: 130%" href="/barberAvailability" class="link-light"><img
                        src="static/images/hair-salon.png" class="me-3">Período de serviço</a>
            <br>
            <hr>
            <a style="font-size: 130%" href="/barberSpecialSchedule" class="link-light"><img
                        src="static/images/compromisso.png" class="me-3">Disponibilidade Especial</a>
            <br>
            <hr>
            <button id="logoutButton" type="button" class="btn btn-outline-danger" onclick="logout()">Sair</button>
        </center>
    </div>
</div>

<!-- Offcanvas para Administrador -->
<div class="offcanvas offcanvas-start primaryColor" id="offcanvasAdmin" tabindex="-1" aria-labelledby="offcanvasAdminLabel"
     data-bs-theme="dark">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasAdminLabel">Painel do Administrador</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <center>
            <a style="font-size:130%" href="/myProfile" class="link-light "><img
                        src="static/images/usuario-de-perfil.png" class="me-3">Meu perfil</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/inPersonAppointments" class="link-light "><img
                        src="static/images/relogio.png" class="me-3">Agendamento presencial</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/appointmentAllBarbers" class="link-light "><img
                        src="static/images/compromisso.png" class="me-3">Agendamento dos barbeiros</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/service" class="link-light "><img
                        src="static/images/Designer.png" style="width: 32px" class="me-3">Serviços</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/birthdaysOfTheDay" class="link-light "><img
                        src="static/images/birthday-and-party.png" style="width: 32px" class="me-3">Aniversariantes</a>
            <br>
            <hr>
            <button id="logoutButton" type="button" class="btn btn-outline-danger" onclick="logout()">Sair</button>
        </center>
    </div>
</div>
<style>
    html, body {
        height: 100%; /* Garante que o HTML e o body ocupem toda a altura da tela */
        margin: 0;
        display: flex;
        flex-direction: column;
    }
</style>
</html>
