<!doctype html>
<html lang="pt">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BarberQuest</title>
  <link rel="shortcut icon" type="image/png" href="static/images/logo.png">
  <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{.CSS}}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/pt.js"></script> <!-- Tradução para português -->

</head>

<body>

<nav class="navbar navbar-expand-lg primaryColor sticky-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="static/images/logo.png" alt="logo" width="80cm" height="80cm">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 custom-spacing">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active" aria-current="page" href="/appointment">Agendar</a>
        </li>
      </ul>
      <center>
        <button id="loginButton" type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#modalLogin">Login</button>

        <button id="profileButton" class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" style="display: none">
          Perfil
        </button>

      </center>
      </strong>
    </div>
  </div>

</nav>

<br>
<div class="main-content">
<div class="container primaryColor shadow-lg rounded-4 p-5 mt-5" style="max-width: 600px;">
  <h2 class="text-center mb-4 fw-bold ">Agendamento</h2>

  <form id="appointmentForm" action="/submit-appointment" method="POST">
    <!-- Campo Data -->
    <div class="mb-4">
      <label for="datePicker" class="form-label fw-semibold">Data do agendamento</label>
      <input type="text" id="datePicker" class="form-control p-3 rounded-3" placeholder="Selecione uma data" required>
    </div>

    <!-- Campo Barbeiro -->
    <div class="mb-4">
      <label for="barbeiro" class="form-label fw-semibold">Selecione seu barbeiro</label>
      <select class="form-select p-3 rounded-3" id="barbeiro" required>
        <option value="" disabled selected>Escolha um barbeiro</option>
      </select>
    </div>

    <!-- Campo Serviço -->
    <div class="mb-4">
      <label for="servico" class="form-label fw-semibold">Selecione seu serviço</label>
      <select class="form-select p-3 rounded-3" id="servico" required>
        <option value="" disabled selected>Escolha um serviço</option>
      </select>
    </div>

    <!-- Contêiner de horários disponíveis -->
    <div class="mb-3 d-none" id="containerHour">
    <label class="form-label">Horários disponíveis</label>
    <div id="availableSlots" class="d-flex overflow-auto rounded-2">
      <!-- Horários serão inseridos aqui -->
    </div>
  </div>

    <!-- Botão de submissão -->
    <div class="text-center">
      <button type="submit" class="btn btn-success btn-lg px-5 rounded-pill shadow-sm">Confirmar Agendamento</button>
    </div>
  </form>
</div>
<br>
</div>
<div id="footer-container"></div>
<script src="static/bootstrap/js/bootstrap.bundle.min.js" defer></script>
<script src="{{.JS}}" defer></script>
</body>

<div id="modals-placeholder"></div>

<!-- Offcanvas para Usuário Comum -->
<div class="offcanvas offcanvas-start primaryColor" data-bs-theme="dark" tabindex="-1" id="offcanvasUser"
     aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Perfil</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <center>
      <a style="font-size:130%" href="/myProfile" class="link-light "><img
                src="static/images/usuario-de-perfil.png" class="me-3">Meu perfil</a>
      <br>
      <hr>
      <a style="font-size:130%" href="/myAppointments" class="link-light "><img
                src="static/images/time-and-calendar.png" class="me-3">Meus agendamentos</a>
      <br>
      <hr>
      <a style="font-size:130%" href="/myHistoric" class="link-light "><img src="static/images/relogio.png"
                                                                            class="me-3">Meu histórico</a>
      <br>
      <hr>
      <button id="logoutButton" type="button" class="btn btn-outline-danger" onclick="logout()">Sair</button>
    </center>
  </div>
</div>

<!-- Offcanvas para Barbeiro -->
<div class="offcanvas offcanvas-start primaryColor" data-bs-theme="dark" tabindex="-1" id="offcanvasBarber"
     aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Perfil</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <center>
      <a style="font-size:130%" href="/myProfile" class="link-light "><img
                src="static/images/usuario-de-perfil.png" class="me-3">Meu perfil</a>
      <br>
      <hr>
      <a style="font-size:130%" href="/myAppointmentsBarber" class="link-light "><img
                src="static/images/time-and-calendar.png" class="me-3">Meus agendamentos</a>
      <br>
      <hr>
      <a style="font-size:130%" href="/inPersonAppointments" class="link-light "><img
                src="static/images/relogio.png" class="me-3">Agendamento presencial</a>
      <br>
      <hr>
      <a style="font-size: 130%" href="/barberAvailability" class="link-light"><img
                src="static/images/hair-salon.png" class="me-3">Período de serviço</a>
      <br>
      <hr>
      <a style="font-size: 130%" href="/barberSpecialSchedule" class="link-light"><img
                src="static/images/compromisso.png" class="me-3">Disponibilidade Especial</a>
      <br>
      <hr>
      <button id="logoutButton" type="button" class="btn btn-outline-danger" onclick="logout()">Sair</button>
    </center>
  </div>
</div>

<!-- Offcanvas para Administrador -->
<div class="offcanvas offcanvas-start primaryColor" id="offcanvasAdmin" tabindex="-1" aria-labelledby="offcanvasAdminLabel"
     data-bs-theme="dark">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasAdminLabel">Painel do Administrador</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <center>
      <a style="font-size:130%" href="/myProfile" class="link-light "><img
                src="static/images/usuario-de-perfil.png" class="me-3">Meu perfil</a>
      <br>
      <hr>
      <a style="font-size:130%" href="/inPersonAppointments" class="link-light "><img
                src="static/images/relogio.png" class="me-3">Agendamento presencial</a>
      <br>
      <hr>
      <a style="font-size:130%" href="/appointmentAllBarbers" class="link-light "><img
                src="static/images/compromisso.png" class="me-3">Agendamento dos barbeiros</a>
      <br>
      <hr>
      <a style="font-size:130%" href="/service" class="link-light "><img
                src="static/images/Designer.png" style="width: 32px" class="me-3">Serviços</a>
      <br>
      <hr>
      <a style="font-size:130%" href="/birthdaysOfTheDay" class="link-light "><img
                src="static/images/birthday-and-party.png" style="width: 32px" class="me-3">Aniversariantes</a>
      <br>
      <hr>
      <button id="logoutButton" type="button" class="btn btn-outline-danger" onclick="logout()">Sair</button>
    </center>
  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Função para buscar os serviços com um delay
    function fetchDataWithDelay(url, callback, delay) {
      setTimeout(function () {
        fetch(url)
                .then(response => response.json())
                .then(callback)
                .catch(error => console.error("Erro ao buscar dados:", error));
      }, delay);
    }

// Alterar URLs para o IP local
    fetchDataWithDelay("/getAllAvailableService", function(data) {
      const selectServico = document.getElementById("servico");

      data.forEach(service => {
        let option = document.createElement("option");
        option.value = service.ID;
        option.textContent = `${service.name} - R$${service.price.toFixed(2)} (${service.duration_minutes} min)`;
        selectServico.appendChild(option);
      });
    }, 500);

    fetchDataWithDelay("/getAllBarbers", function(data) {
      const selectBarbeiro = document.getElementById("barbeiro");

      data.forEach(barber => {
        let option = document.createElement("option");
        option.value = barber.ID;
        option.textContent = barber.name;
        selectBarbeiro.appendChild(option);
      });
    }, 1000);

// Função para buscar os horários disponíveis
    function fetchAvailableSlots(barberId, serviceId, date) {
      const formattedDate = formatDate(date);
      const selectedDate = new Date(formattedDate);

      if (isNaN(selectedDate)) {
        console.error("Data inválida:", date);
        return;
      }

      const year = selectedDate.getFullYear();
      const month = String(selectedDate.getMonth() + 1).padStart(2, "0");
      const day = String(selectedDate.getDate() + 1).padStart(2, "0");

      const finalFormattedDate = `${year}-${month}-${day}`;
      console.log(`Data formatada para API: ${finalFormattedDate}`);

      const url = `/checkAvailableSlots/${barberId}/${serviceId}/${finalFormattedDate}`;
      console.log(`URL gerada: ${url}`);

      fetch(url)
              .then((response) => {
                if (response.status === 404) {
                  console.log(response.status);
                  showNoSlotsMessage();
                  return Promise.resolve(null);
                }
                return response.json();
              })
              .then((data) => {
                const slotsContainer = document.getElementById("availableSlots");
                slotsContainer.innerHTML = ""; // Limpa os horários anteriores

                if (!data || data.length === 0) {
                  // Se data for null, undefined ou array vazio, exibe a mensagem
                  showNoSlotsMessage();
                  return;
                }

                const containerHour = document.getElementById("containerHour");
                containerHour.classList.remove("d-none");

                let hasAvailableSlots = false; // Flag para verificar se há horários disponíveis

                data.forEach((slot) => {
                  if (slot.is_available) {
                    hasAvailableSlots = true;

                    const card = document.createElement("div");
                    card.classList.add("slot-card");

                    const slotTime = new Date(slot.slot);
                    slotTime.setHours(slotTime.getHours() + 2); // Ajuste de fuso horário

                    const localTime = slotTime.toLocaleString("pt-BR", {
                      timeZone: "America/Sao_Paulo",
                      hour: "2-digit",
                      minute: "2-digit",
                    });

                    card.innerHTML = `<span>${localTime}</span><p style="color: white">Disponível</p>`;

                    card.addEventListener("click", function () {
                      document
                              .querySelectorAll(".slot-card")
                              .forEach((c) => c.classList.remove("selected"));
                      card.classList.add("selected");

                      console.log(`Você escolheu o horário: ${localTime}`);
                    });

                    slotsContainer.appendChild(card);
                  }
                });

                if (!hasAvailableSlots) {
                  showNoSlotsMessage();
                }
              })
              .catch((error) => {
                console.error("Erro ao buscar horários:", error);
                showNoSlotsMessage();
              });
    }

// Função para exibir a mensagem de "Nenhum horário disponível"
    function showNoSlotsMessage() {
      const containerHour = document.getElementById("containerHour");
      containerHour.classList.remove("d-none");

      const slotsContainer = document.getElementById("availableSlots");
      slotsContainer.innerHTML = "<p style='color: #0a3622'>Nenhum horário disponível.</p>";
    }


    // Capturar mudanças nas seleções de barbeiro, serviço e data
    document.getElementById("barbeiro").addEventListener("change", updateAvailableSlots);
    document.getElementById("servico").addEventListener("change", updateAvailableSlots);
    document.getElementById("datePicker").addEventListener("change", updateAvailableSlots);

    // Função para atualizar os horários disponíveis
    function updateAvailableSlots() {
      const barberId = document.getElementById("barbeiro").value;
      const serviceId = document.getElementById("servico").value;
      const date = document.getElementById("datePicker").value;

      console.log(`Barbeiro: ${barberId}, Serviço: ${serviceId}, Data: ${date}`); // Verifique os valores

      if (barberId && serviceId && date) {
        fetchAvailableSlots(barberId, serviceId, date);
      }
    }
  });


  // Função para formatar a data de DD/MM/YYYY para YYYY-MM-DD
  function formatDate(date) {
    const parts = date.split('/');
    return `${parts[2]}-${parts[1]}-${parts[0]}`;  // Formato final: YYYY-MM-DD
  }

  // Capturar o formulário e adicionar evento de submissão
  document.getElementById("appointmentForm").addEventListener("submit", function(event) {
    event.preventDefault(); // Evita recarregar a página

    // Pegar valores dos inputs
    const barberId = document.getElementById("barbeiro").value;
    const serviceId = document.getElementById("servico").value;
    const selectedDate = document.getElementById("datePicker").value;
    const selectedTime = document.querySelector(".slot-card.selected span")?.textContent;

    // Verifica se todos os dados foram preenchidos
    if (!barberId || !serviceId || !selectedDate || !selectedTime) {
      alert("Por favor, preencha todos os campos e selecione um horário.");
      return;
    }

// Formatar a data corretamente (YYYY-MM-DDTHH:MM:SS-03:00)
    const [day, month, year] = selectedDate.split("/"); // Assume que o input está no formato DD/MM/YYYY
    const formattedDate = `${year}-${month}-${day}`; // Converte para YYYY-MM-DD
    const appointmentDateTime = `${formattedDate}T${selectedTime}:00-03:00`; // Adiciona UTC-3

    if (isTokenExpired()) {
      const modal = new bootstrap.Modal(document.getElementById("modalLogin"));
      modal.show(); // Exibe o modal de login
      return;
    }

    let token = localStorage.getItem("jwt_token")

    // Criar o objeto de requisição
    const requestData = {
      appointment_date: appointmentDateTime,
      barber_id: parseInt(barberId),
      service_id: parseInt(serviceId),
    };

    fetch("/createAppointment", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "Authorization": `Bearer ${token}`
      },
      body: JSON.stringify(requestData)
    })
            .then(response => {
              if (response.status === 201) { // Verifica se o status é 201 (Created)
                return response.json().then(data => {
                  showAlert("Agendamento realizado com sucesso!","success");
                  setTimeout(() => {
                    window.location.reload(true);
                  }, 3000);
                });
              } else {
                return response.json().then(data => {
                  showAlert(`Erro: ${data.message || "Não foi possível agendar o horário."}`);
                  setTimeout(() => {
                    window.location.reload(true);
                  }, 3000);
                });
              }
            })
            .catch(error => {
              console.error("Erro ao agendar:", error);
              showAlert("Ocorreu um erro ao tentar agendar. Por favor, tente novamente.",error);
            });
  });
</script>

<style>

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  #availableSlots::-webkit-scrollbar {
    height: 1rem; /* Altura da barra de rolagem para navegadores baseados em WebKit */
  }

  #availableSlots::-webkit-scrollbar-thumb {
    background-color: #146c43; /* Cor do "polegar" da barra de rolagem */
    border-radius: 4px; /* Bordas arredondadas */
  }

  #availableSlots::-webkit-scrollbar-track {
    background-color: #DDDBDB; /* Cor do fundo da barra de rolagem */
  }
  html, body {
    height: 100%; /* Garante que o HTML e o body ocupem toda a altura da tela */
    margin: 0;
    display: flex;
    flex-direction: column;
  }
</style>

</html>