<!doctype html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BarberQuest</title>
    <link rel="shortcut icon" type="image/png" href="static/images/logo.png">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{.CSS}}">
</head>

<body>

<nav class="navbar navbar-expand-lg primaryColor sticky-top" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="static/images/logo.png" alt="logo" width="80cm" height="80cm">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 custom-spacing">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active" aria-current="page" href="/appointment">Agendar</a>
                </li>
            </ul>
            <center>
                <button id="loginButton" type="button" class="btn btn-outline-light" data-bs-toggle="modal"
                        data-bs-target="#modalLogin">Login
                </button>

                <button id="profileButton" class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" style="display: none">
                    Perfil
                </button>

            </center>
            </strong>
        </div>
    </div>
</nav>

<div class="main-content">
    <div class="container mt-5">
        <div class="container primaryColor rounded mt-5 text-center">
            <h1>Gerenciar Disponibilidade</h1></div>

        <div id="alertContainer"></div> <!-- Container para alertas -->

        <!-- Tabela de horários cadastrados -->
        <div class="table-responsive">
            <table class="table table-bordered mt-3 table-secondary">
                <thead>
                <tr>
                    <th>Dia da Semana</th>
                    <th>Hora Início</th>
                    <th>Hora Fim</th>
                    <th>Intervalo Início</th>
                    <th>Intervalo Fim</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody id="availabilityTable">
                <tr>
                    <td colspan="6" class="text-center">Carregando...</td>
                </tr>
                </tbody>
            </table>
        </div>


        <!-- Formulário para adicionar um novo horário -->
        <div class="container primaryColor rounded mt-5 text-center">
            <h4 class="mt-4">Adicionar Disponibilidade</h4>
        </div>
        <form id="availabilityForm">
            <div class="row primaryColor rounded p-2">
                <div class="col-md-4">
                    <label>Dia da Semana:</label>
                    <select id="dayOfWeek" class="form-control" required>
                        <option value="1">Segunda-feira</option>
                        <option value="2">Terça-feira</option>
                        <option value="3">Quarta-feira</option>
                        <option value="4">Quinta-feira</option>
                        <option value="5">Sexta-feira</option>
                        <option value="6">Sábado</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label>Hora Início:</label>
                    <input type="time" id="startTime" class="form-control" required>
                </div>
                <div class="col-md-2">
                    <label>Hora Fim:</label>
                    <input type="time" id="endTime" class="form-control" required>
                </div>
                <div class="col-md-2">
                    <label>Início do Intervalo:</label>
                    <input type="time" id="breakStartTime" class="form-control" required>
                </div>
                <div class="col-md-2">
                    <label>Fim do Intervalo:</label>
                    <input type="time" id="breakEndTime" class="form-control" required>
                </div>
            </div>
            <center>
            <div class="d-flex justify-content-center mt-3 pt-2 pb-2 primaryColor w-50 rounded-2">
                <button type="submit" class="btn btn-success">Adicionar</button>
            </div></center>
        </form>
    </div>
    <br>

    <!-- Modal para editar horário -->
    <div class="modal fade" id="editModal" tabindex="-1">
        <div class="modal-dialog" data-bs-theme="dark">
            <div class="modal-content primaryColor" data-bs-theme="light">
                <div class="modal-header">
                    <h5 class="modal-title">Editar Horário</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="editId">
                    <label>Hora Início:</label>
                    <input type="time" id="editStartTime" class="form-control" required>
                    <label class="mt-2">Hora Fim:</label>
                    <input type="time" id="editEndTime" class="form-control" required>
                    <label>Intervalo Início:</label>
                    <input type="time" id="editBreakStartTime" class="form-control" required>
                    <label class="mt-2">Intervalo Fim:</label>
                    <input type="time" id="editBreakEndTime" class="form-control" required>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-light" data-bs-dismiss="modal">Cancelar</button>
                    <button class="btn btn-outline-success" onclick="updateAvailability()">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer-container"></div>


<script src="static/bootstrap/js/bootstrap.bundle.min.js" defer></script>
<script src="{{.JS}}" defer></script>

<script>
    let availabilityList = [];

    document.addEventListener("DOMContentLoaded", fetchAvailability);

    // Função para exibir alertas bonitos
    function showAlert(message, type = "success") {
        const alertContainer = document.getElementById("alertContainer");
        alertContainer.innerHTML = `
        <div class="alert alert-${type} alert-dismissible fade show" role="alert">
            ${message}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    `;
    }

    // Função para buscar horários existentes
    async function fetchAvailability() {
        const token = localStorage.getItem("jwt_token");
        isTokenExpired()
        try {
            const response = await fetch('/getAllAvailability', {
                headers: {"Authorization": `Bearer ${token}`}
            });
            const availability = await response.json();
            availabilityList = availability;
            renderAvailabilityTable();
        } catch (error) {
            console.error("Erro ao buscar disponibilidade:", error);
        }
    }

    function renderAvailabilityTable() {
        const table = document.getElementById("availabilityTable");
        table.innerHTML = "";

        if (availabilityList.length === 0) {
            table.innerHTML = '<tr><td colspan="4" class="text-center">Nenhum horário cadastrado.</td></tr>';
            return;
        }

        availabilityList.forEach(item => {
            const row = document.createElement("tr");
            row.innerHTML = `
      <td>${convertDayOfWeek(item.day_of_week)}</td>
      <td>${formatTime(item.start_time)}</td>
      <td>${formatTime(item.end_time)}</td>
      <td>${formatTime(item.break_start_time)}</td>
      <td>${formatTime(item.break_end_time)}</td>
      <td>
        <button class="btn btn-warning btn-sm" onclick="editAvailability(${item.id}, '${item.start_time}', '${item.end_time}','${item.break_start_time}','${item.break_end_time}')">Editar</button>
        <button class="btn btn-danger btn-sm" onclick="confirmDelete(${item.id})">Excluir</button>
      </td>
    `;
            table.appendChild(row);
        });
    }

    // Função para adicionar novo horário
    document.getElementById("availabilityForm").addEventListener("submit", async function (event) {
        event.preventDefault();
        const token = localStorage.getItem("jwt_token");
        isTokenExpired()

        const selectedDay = parseInt(document.getElementById("dayOfWeek").value);
        const existingDay = Array.isArray(availabilityList) ? availabilityList.find(item => item.day_of_week === selectedDay) : null;


        if (existingDay) {
            showAlert("Já existe um horário cadastrado para esse dia!", "danger");
            return;
        }

        const newAvailability = {
            day_of_week: selectedDay,
            start_time: document.getElementById("startTime").value + ":00",
            end_time: document.getElementById("endTime").value + ":00",
            break_start_time: document.getElementById("breakStartTime").value + ":00",
            break_end_time: document.getElementById("breakEndTime").value + ":00"
        };

        try {
            const response = await fetch('/createAvailability', {
                method: "POST",
                headers: {
                    "Authorization": `Bearer ${token}`,
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(newAvailability)
            });

            if (response.ok) {
                showAlert("Disponibilidade adicionada!", "success");
                fetchAvailability();
                document.getElementById("availabilityForm").reset();
            } else {
                showAlert("Erro ao adicionar disponibilidade.", "danger");
            }
        } catch (error) {
            console.error("Erro ao adicionar:", error);
        }
    });

    // Função para preencher o modal de edição
    function editAvailability(id, start, end, breakStart, breakEnd) {
        document.getElementById("editId").value = id;
        document.getElementById("editStartTime").value = formatTime(start);
        document.getElementById("editEndTime").value = formatTime(end);
        document.getElementById("editBreakStartTime").value = formatTime(breakStart);
        document.getElementById("editBreakEndTime").value = formatTime(breakEnd);

        new bootstrap.Modal(document.getElementById("editModal")).show();
    }

    // Função para atualizar horário
    async function updateAvailability() {
        const token = localStorage.getItem("jwt_token");
        const id = document.getElementById("editId").value;
        const updatedData = {
            start_time: document.getElementById("editStartTime").value + ":00",
            end_time: document.getElementById("editEndTime").value + ":00",
            break_start_time: document.getElementById("editBreakStartTime").value + ":00",
            break_end_time: document.getElementById("editBreakEndTime").value + ":00"
        };

        try {
            const response = await fetch(`/updateAvailability/${id}`, {
                method: "PUT",
                headers: {
                    "Authorization": `Bearer ${token}`,
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(updatedData)
            });

            if (response.ok) {
                showAlert("Horário atualizado!", "success");
                fetchAvailability();
                bootstrap.Modal.getInstance(document.getElementById("editModal")).hide();
            } else {
                showAlert("Erro ao atualizar horário.", "danger");
            }
        } catch (error) {
            console.error("Erro ao atualizar:", error);
        }
    }

    // Funções auxiliares
    function formatTime(time) {
        return time.substring(0, 5);
    }

    function convertDayOfWeek(day) {
        return ["Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sábado"][day];
    }

    async function deleteAvailability(id) {
        const token = localStorage.getItem("jwt_token");

        try {
            const response = await fetch(`/deleteAvailability/${id}`, {
                method: "DELETE",
                headers: {"Authorization": `Bearer ${token}`}
            });

            if (response.ok) {
                showAlert("Disponibilidade excluída!", "success");
                fetchAvailability(); // Atualiza a tabela após a exclusão
            } else {
                showAlert("Erro ao excluir disponibilidade.", "danger");
            }
        } catch (error) {
            console.error("Erro ao excluir:", error);
            showAlert("Erro na solicitação.", "danger");
        }
    }

    function confirmDelete(availabilityId) {
        showConfirm("Confirmação", "Tem certeza que deseja cancelar esta disponibilidade?", () => deleteAvailability(availabilityId));
    }

</script>
</body>

<div id="modals-placeholder"></div>

<!-- Offcanvas para Usuário Comum -->
<div class="offcanvas offcanvas-start primaryColor" data-bs-theme="dark" tabindex="-1" id="offcanvasUser"
     aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Perfil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <center>
            <a style="font-size:130%" href="/myProfile" class="link-light "><img
                        src="static/images/usuario-de-perfil.png" class="me-3">Meu perfil</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/myAppointments" class="link-light "><img
                        src="static/images/time-and-calendar.png" class="me-3">Meus agendamentos</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/myHistoric" class="link-light "><img src="static/images/relogio.png"
                                                                                  class="me-3">Meu histórico</a>
            <br>
            <hr>
            <button id="logoutButton" type="button" class="btn btn-outline-danger" onclick="logout()">Sair</button>
        </center>
    </div>
</div>

<!-- Offcanvas para Barbeiro -->
<div class="offcanvas offcanvas-start primaryColor" data-bs-theme="dark" tabindex="-1" id="offcanvasBarber"
     aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Perfil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <center>
            <a style="font-size:130%" href="/myProfile" class="link-light "><img
                        src="static/images/usuario-de-perfil.png" class="me-3">Meu perfil</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/myAppointmentsBarber" class="link-light "><img
                        src="static/images/time-and-calendar.png" class="me-3">Meus agendamentos</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/inPersonAppointments" class="link-light "><img
                        src="static/images/relogio.png" class="me-3">Agendamento presencial</a>
            <br>
            <hr>
            <a style="font-size: 130%" href="/barberAvailability" class="link-light"><img
                        src="static/images/hair-salon.png" class="me-3">Período de serviço</a>
            <br>
            <hr>
            <a style="font-size: 130%" href="/barberSpecialSchedule" class="link-light"><img
                        src="static/images/compromisso.png" class="me-3">Disponibilidade Especial</a>
            <br>
            <hr>
            <button id="logoutButton" type="button" class="btn btn-outline-danger" onclick="logout()">Sair</button>
        </center>
    </div>
</div>

<!-- Offcanvas para Administrador -->
<div class="offcanvas offcanvas-start primaryColor" id="offcanvasAdmin" tabindex="-1" aria-labelledby="offcanvasAdminLabel"
     data-bs-theme="dark">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasAdminLabel">Painel do Administrador</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <center>
            <a style="font-size:130%" href="/myProfile" class="link-light "><img
                        src="static/images/usuario-de-perfil.png" class="me-3">Meu perfil</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/inPersonAppointments" class="link-light "><img
                        src="static/images/relogio.png" class="me-3">Agendamento presencial</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/appointmentAllBarbers" class="link-light "><img
                        src="static/images/compromisso.png" class="me-3">Agendamento dos barbeiros</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/service" class="link-light "><img
                        src="static/images/Designer.png" style="width: 32px" class="me-3">Serviços</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/birthdaysOfTheDay" class="link-light "><img
                        src="static/images/birthday-and-party.png" style="width: 32px" class="me-3">Aniversariantes</a>
            <br>
            <hr>
            <button id="logoutButton" type="button" class="btn btn-outline-danger" onclick="logout()">Sair</button>
        </center>
    </div>
</div>


<!-- Modal de Confirmação -->
<div class="modal fade" tabindex="-1" role="dialog" id="modalConfirm">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-4 shadow-lg bg-dark text-white p-4" data-bs-theme="dark">

            <!-- Ícone de confirmação e título -->
            <div class="d-flex align-items-center justify-content-between">
                <h5 class="modal-title fw-bold" id="confirmTitle"></h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Fechar"></button>
            </div>

            <!-- Mensagem de confirmação -->
            <div class="modal-body text-center">
                <p id="confirmMessage" class="fs-5"></p>
            </div>

            <!-- Botões de ação -->
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-outline-light px-4" id="cancelButton" data-bs-dismiss="modal">
                    Cancelar
                </button>
                <button type="button" class="btn btn-outline-success px-4" id="confirmButton">Confirmar</button>
            </div>

        </div>
    </div>
</div>
</html>

<style>
    html, body {
        height: 100%; /* Garante que o HTML e o body ocupem toda a altura da tela */
        margin: 0;
        display: flex;
        flex-direction: column;
    }
</style>