<!doctype html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BarberQuest</title>
    <link rel="shortcut icon" type="image/png" href="static/images/logo.png">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{.CSS}}">
</head>

<body>

<nav class="navbar navbar-expand-lg primaryColor sticky-top" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="static/images/logo.png" alt="logo" width="80cm" height="80cm">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 custom-spacing">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active" aria-current="page" href="/appointment">Agendar</a>
                </li>
            </ul>
            <center>
                <button id="loginButton" type="button" class="btn btn-outline-light" data-bs-toggle="modal"
                        data-bs-target="#modalLogin">Login
                </button>

                <button id="profileButton" class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" style="display: none">
                    Perfil
                </button>

            </center>
            </strong>
        </div>
    </div>
</nav>

<!-- Cover -->
<div class="cover d-flex align-items-center justify-content-center">
    <a type="button" class="btn btn-light btn-lg" href="/appointment"><strong>Agende Já!</strong></a>

</div>
<div class="primaryColor p-2">
    <center>
        <p class="align-text-bottom fs-4">Para Guerreiros que Nunca Abrem Mão do Estilo</p>
    </center>

    <div class="container-fluid">
        <div class="row justify-content-around">
            <div class="col-lg-5 text-center">
                <img src="static/images/whatsapp.png" alt="whatsapp" width="5%">
                <span>+55 (11) 11111-11111</span>
                <br>
            </div>
            <div class="col-lg-5 text-center">
                <img src="static/images/pin.png" alt="pin" width="5%">
                <span>Rua Lorem, 111, 11111-111, Cidade Ipsum</span>
            </div>
        </div>
    </div>
</div>

<div class="m-3">
    <p class="fs-1 primaryColor rounded-pill d-inline px-3">Principais Serviços</p>
</div>


<div class="container">
    <div class="row justify-content-around">
        <div class="col-12 col-sm-8 col-md-4 col-lg-3 mt-4 d-flex">
            <div class="card primaryColor flex-fill" style="min-height: 350px;">
                <center>
                    <img src="static/images/Designer%20(1).png" class="card-img-top imageCards mt-2" alt="...">
                </center>
                <div class="card-body text-center">
                    <h3 class="fw-bolder">Corte</h3>
                    <p class="fs-4">R$ 40,00</p>
                </div>
                <button type="button" class="btn btn-outline-light mx-3 mb-2"
                        onclick="window.location.href='/appointment'">
                    Agendar
                </button>
            </div>
        </div>

        <div class="col-12 col-sm-8 col-md-4 col-lg-3 mt-4 d-flex">
            <div class="card primaryColor flex-fill" style="min-height: 350px;">
                <center>
                    <img src="static/images/CabeloBarba.png" class="card-img-top imageCards mt-2" alt="...">
                </center>
                <div class="card-body text-center">
                    <h3 class="fw-bolder">Cabelo + Barba</h3>
                    <p class="fs-4">R$ 68,00</p>
                </div>
                <button type="button" class="btn btn-outline-light mx-3 mb-2"
                        onclick="window.location.href='/appointment'">
                    Agendar
                </button>
            </div>
        </div>


        <div class="col-12 col-sm-8 col-md-4 col-lg-3 mt-4 d-flex">
            <div class="card primaryColor flex-fill" style="min-height: 350px;">
                <center>
                    <img src="static/images/Barba.png" class="card-img-top imageCards mt-2" alt="...">
                </center>
                <div class="card-body text-center">
                    <h3 class="fw-bolder">Barba Completa</h3>
                    <p class="fs-4">R$ 40,00</p>
                </div>
                <button type="button" class="btn btn-outline-light mx-3 mb-2"
                        onclick="window.location.href='/appointment'">
                    Agendar
                </button>
            </div>
        </div>
    </div>
</div>


<div class="primaryColor container-fluid mt-5 justify-content-around">
    <h2 class="fw-bold">Horário de Funcionameto</h2>

    <div class="row justify-content-around">
        <div class="col-12 col-md-5 mt-2">
            <div class="row justify-content-center">
                <div class="col-5 fs-4 border-bottom pb-1">Segunda</div>
                <div class="col-5 fs-4 border-bottom pb-1">09:00-18:00</div>
            </div>

            <div class="row justify-content-center">
                <div class="col-5 fs-4 border-bottom pb-1">Terça</div>
                <div class="col-5 fs-4 border-bottom pb-1">09:00-20:00</div>
            </div>

            <div class="row justify-content-center">
                <div class="col-5 fs-4 border-bottom pb-1">Quarta</div>
                <div class="col-5 fs-4 border-bottom pb-1">09:00-20:00</div>
            </div>

            <div class="row justify-content-center">
                <div class="col-5 fs-4 border-bottom pb-1">Quinta</div>
                <div class="col-5 fs-4 border-bottom pb-1">09:00-20:00</div>
            </div>

            <div class="row justify-content-center">
                <div class="col-5 fs-4 border-bottom pb-1">Sexta</div>
                <div class="col-5 fs-4 border-bottom pb-1">09:00-20:00</div>
            </div>

            <div class="row justify-content-center">
                <div class="col-5 fs-4 border-bottom pb-1">Sábado</div>
                <div class="col-5 fs-4 border-bottom pb-1">09:00-18:30</div>
            </div>

            <div class="row justify-content-center">
                <div class="col-5 fs-4 ">Domingo</div>
                <div class="col-5 fs-4">Fechado</div>
            </div>
        </div>

        <div class="col-12 col-md-5 mt-2">
            <center>
                <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.317768998746!2d-46.65906922502102!3d-23.56134956159109!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59c8da0aa315%3A0xd59f9431f2c9776a!2sAv.%20Paulista%2C%20S%C3%A3o%20Paulo%20-%20SP!5e0!3m2!1spt-BR!2sbr!4v1744672283284!5m2!1spt-BR!2sbr"
                        class="rounded-3" width="300rem" height="300rem" style="border:0;" allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </center>
        </div>
    </div>
</div>

<div class="m-3">
    <p class="fs-1 primaryColor rounded-pill d-inline px-3">Nossa Equipe</p>
</div>

<div class="container py-5">
    <div class="row gy-4 d-flex justify-content-center">

        <div class="col-md-4 col-sm-6 text-center">
            <div class="team-member shadow-lg p-4 rounded-4">
                <img src="static/images/Barbeiro.jpg" alt="Membro da Equipe"
                     class="rounded-circle img-fluid mb-3 team-image">
                <h5 class="fw-bold">Lorem Ipsum</h5>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 text-center">
            <div class="team-member shadow-lg p-4 rounded-4">
                <img src="static/images/Barbeiro.jpg" alt="Membro da Equipe"
                     class="rounded-circle img-fluid mb-3 team-image">
                <h5 class="fw-bold">Lorem Ipsum</h5>
            </div>
        </div>
    </div>
</div>

<div id="footer-container"></div>

<script src="static/bootstrap/js/bootstrap.bundle.min.js" defer></script>
<script src="{{.JS}}" defer></script>
</body>

<div id="modals-placeholder"></div>


<!-- Offcanvas para Usuário Comum -->
<div class="offcanvas offcanvas-start primaryColor" data-bs-theme="dark" tabindex="-1" id="offcanvasUser"
     aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Perfil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <center>
            <a style="font-size:130%" href="/myProfile" class="link-light "><img
                        src="static/images/usuario-de-perfil.png" class="me-3">Meu perfil</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/myAppointments" class="link-light "><img
                        src="static/images/time-and-calendar.png" class="me-3">Meus agendamentos</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/myHistoric" class="link-light "><img src="static/images/relogio.png"
                                                                                  class="me-3">Meu histórico</a>
            <br>
            <hr>
            <button id="logoutButton" type="button" class="btn btn-outline-danger" onclick="logout()">Sair</button>
        </center>
    </div>
</div>

<!-- Offcanvas para Barbeiro -->
<div class="offcanvas offcanvas-start primaryColor" data-bs-theme="dark" tabindex="-1" id="offcanvasBarber"
     aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Perfil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <center>
            <a style="font-size:130%" href="/myProfile" class="link-light "><img
                        src="static/images/usuario-de-perfil.png" class="me-3">Meu perfil</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/myAppointmentsBarber" class="link-light "><img
                        src="static/images/time-and-calendar.png" class="me-3">Meus agendamentos</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/inPersonAppointments" class="link-light "><img
                        src="static/images/relogio.png" class="me-3">Agendamento presencial</a>
            <br>
            <hr>
            <a style="font-size: 130%" href="/barberAvailability" class="link-light"><img
                        src="static/images/hair-salon.png" class="me-3">Período de serviço</a>
            <br>
            <hr>
            <a style="font-size: 130%" href="/barberSpecialSchedule" class="link-light"><img
                        src="static/images/compromisso.png" class="me-3">Disponibilidade Especial</a>
            <br>
            <hr>
            <button id="logoutButton" type="button" class="btn btn-outline-danger" onclick="logout()">Sair</button>
        </center>
    </div>
</div>

<!-- Offcanvas para Administrador -->
<div class="offcanvas offcanvas-start primaryColor" id="offcanvasAdmin" tabindex="-1" aria-labelledby="offcanvasAdminLabel"
     data-bs-theme="dark">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasAdminLabel">Painel do Administrador</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <center>
            <a style="font-size:130%" href="/myProfile" class="link-light "><img
                        src="static/images/usuario-de-perfil.png" class="me-3">Meu perfil</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/inPersonAppointments" class="link-light "><img
                        src="static/images/relogio.png" class="me-3">Agendamento presencial</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/appointmentAllBarbers" class="link-light "><img
                        src="static/images/compromisso.png" class="me-3">Agendamento dos barbeiros</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/service" class="link-light "><img
                        src="static/images/Designer.png" style="width: 32px" class="me-3">Serviços</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/birthdaysOfTheDay" class="link-light "><img
                        src="static/images/birthday-and-party.png" style="width: 32px" class="me-3">Aniversariantes</a>
            <br>
            <hr>
            <button id="logoutButton" type="button" class="btn btn-outline-danger" onclick="logout()">Sair</button>
        </center>
    </div>
</div>

</html>