<!doctype html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BarberQuest</title>
    <link rel="shortcut icon" type="image/png" href="static/images/logo.png">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{.CSS}}">
</head>

<body>
<nav class="navbar navbar-expand-lg primaryColor sticky-top" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="static/images/logo.png" alt="logo" width="80cm" height="80cm">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 custom-spacing">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active" aria-current="page" href="/appointment">Agendar</a>
                </li>
            </ul>
            <center>
                <button id="loginButton" type="button" class="btn btn-outline-light" data-bs-toggle="modal"
                        data-bs-target="#modalLogin">Login
                </button>

                <button id="profileButton" class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" style="display: none">
                    Perfil
                </button>

            </center>
            </strong>
        </div>
    </div>

</nav>

<div class="main-content">
    <div class="container primaryColor rounded mt-5 text-center">
        <h1>Meus Agendamentos</h1>
        <input type="date" id="appointmentDate" class="form-control mt-3"/>
        <button class="btn btn-success mt-2" onclick="fetchAppointments()">Buscar Agendamentos</button>
    </div>
    <div class="container mt-3" id="appointmentsContainer">
        <p class="no-data">Selecione uma data para visualizar os agendamentos.</p>
    </div>
</div>

<div id="footer-container"></div>

<!-- Modal para atualização de status -->
<div class="modal fade" id="appointmentModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" data-bs-theme="dark">
            <div class="modal-header primaryColor">
                <h5 class="modal-title" id="modalLabel">Atualizar Status do Agendamento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body primaryColor">
                <form id="updateForm">
                    <input type="hidden" id="appointmentId">
                    <div class="mb-3">
                        <label for="statusSelect" class="form-label">Selecione o status:</label>
                        <select class="form-select" id="statusSelect" required data-bs-theme="light">
                            <option value="true">Compareceu</option>
                            <option value="false">Não Compareceu</option>
                            <option value="null">Pendente</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-outline-success">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    async function fetchAppointments() {
        isTokenExpired();
        const date = document.getElementById("appointmentDate").value;
        if (!date) {
            showAlert("Por favor, selecione uma data.");
            return;
        }

        const token = localStorage.getItem("jwt_token");

        const url = `/getAppointmentsByDate/${date}`;
        const servicesUrl = '/getAllService';

        try {
            const response = await fetch(url, {
                method: "GET",
                headers: {
                    "Authorization": `Bearer ${token}`,
                    "Content-Type": "application/json"
                }
            });

            const servicesResponse = await fetch(servicesUrl, {
                method: "GET",
                headers: {
                    "Authorization": `Bearer ${token}`,
                    "Content-Type": "application/json"
                }
            });

            const container = document.getElementById("appointmentsContainer");

            if (!response.ok || !servicesResponse.ok) {
                container.innerHTML = '<p class="no-data">Nenhum agendamento encontrado.</p>';
                return;
            }

            const appointments = await response.json();
            const services = await servicesResponse.json();
            container.innerHTML = "";

            if (!appointments.length) {
                container.innerHTML = '<p class="no-data">Nenhum agendamento encontrado.</p>';
                return;
            }

            appointments.forEach(appointment => {
                const card = document.createElement("div");
                card.classList.add("card", "primaryColor", "p-3", "mt-2");

                const appointmentTime = new Date(appointment.date);
                appointmentTime.setHours(appointmentTime.getHours() + 3);

                const options = {
                    year: 'numeric', month: '2-digit', day: '2-digit',
                    hour: '2-digit', minute: '2-digit', hour12: false
                };
                const formattedTime = appointmentTime.toLocaleString('pt-BR', options);

                const service = services.find(service => service.ID === appointment.service_id);
                const serviceName = service ? service.name : "Serviço não encontrado";

                const cellphone = formatCellphoneInput(appointment.client_contact);

                var status

                if (appointment.completed){
                    status = "Compareceu"
                }else if (appointment.completed === false){
                    status = "Não compareceu"
                }else status = "Pedente"

                card.innerHTML = `
                    <p><strong>Cliente:</strong> ${appointment.client_name}</p>
                    <p><strong>Contato:</strong> ${cellphone}</p>
                    <p><strong>Serviço:</strong> ${serviceName}</p>
                    <p><strong>Horário:</strong> ${formattedTime}</p>
                    <p><strong>Status:</strong>${status}</p>
                    <button class="btn btn-success mt-2" onclick="openStatusModal(${appointment.id})">Atualizar Status</button>
                    <button class="btn btn-danger mt-2" onclick="confirmDelete(${appointment.id})">Cancelar</button>
                `;
                container.appendChild(card);
            });
        } catch (error) {
            console.error(error);
            showAlert("Erro ao carregar agendamentos.");
        }
    }

    function confirmDelete(appointmentId) {
        showConfirm("Confirmação", "Tem certeza que deseja cancelar este agendamento?", () => deleteAppointment(appointmentId));
    }

    async function deleteAppointment(appointmentId) {
        const token = localStorage.getItem("jwt_token");

        try {
            const response = await fetch(`/deleteBarberAppointments/${appointmentId}`, {
                method: "DELETE",
                headers: {
                    "Authorization": `Bearer ${token}`,
                    "Content-Type": "application/json"
                }
            });

            if (response.ok) {
                showAlert("Agendamento cancelado com sucesso!");
                fetchAppointments();
            } else {
                showAlert("Erro ao cancelar agendamento.");
            }
        } catch (error) {
            console.error(error);
            showAlert("Erro ao processar o cancelamento.");
        }
    }

    function showConfirm(title, message, onConfirm) {
        document.getElementById("confirmTitle").textContent = title;
        document.getElementById("confirmMessage").textContent = message;

        const modal = new bootstrap.Modal(document.getElementById('modalConfirm'));
        modal.show();

        document.getElementById("confirmButton").onclick = function () {
            onConfirm();
            modal.hide();
        };

        document.getElementById("cancelButton").onclick = function () {
            modal.hide();
        };
    }

    // Abre o modal de atualização de status e define o ID do agendamento
    function openStatusModal(appointmentId) {
        document.getElementById("appointmentId").value = appointmentId;
        const modal = new bootstrap.Modal(document.getElementById("appointmentModal"));
        modal.show();
    }

    // Envia a atualização do status
    document.getElementById("updateForm").addEventListener("submit", async function (event) {
        event.preventDefault();

        const appointmentId = document.getElementById("appointmentId").value;
        const selectedStatus = document.getElementById("statusSelect").value;
        const token = localStorage.getItem("jwt_token");

        try {
            const response = await fetch(`/updateCompletedAppointment/${appointmentId}`, {
                method: "PUT",
                headers: {
                    "Authorization": `Bearer ${token}`,
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ completed: selectedStatus === "null" ? null : JSON.parse(selectedStatus) })
            });

            if (response.ok) {
                showAlert("Status atualizado com sucesso!");
                fetchAppointments();
                bootstrap.Modal.getInstance(document.getElementById("appointmentModal")).hide();
            } else {
                showAlert("Erro ao atualizar status.");
            }
        } catch (error) {
            console.error(error);
            showAlert("Erro ao processar a atualização.");
        }
    });
</script>



<script src="static/bootstrap/js/bootstrap.bundle.min.js" defer></script>
<script src="{{.JS}}" defer></script>
</body>

<div id="modals-placeholder"></div>

<!-- Offcanvas para Usuário Comum -->
<div class="offcanvas offcanvas-start primaryColor" data-bs-theme="dark" tabindex="-1" id="offcanvasUser"
     aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Perfil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <center>
            <a style="font-size:130%" href="/myProfile" class="link-light "><img
                        src="static/images/usuario-de-perfil.png" class="me-3">Meu perfil</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/myAppointments" class="link-light "><img
                        src="static/images/time-and-calendar.png" class="me-3">Meus agendamentos</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/myHistoric" class="link-light "><img src="static/images/relogio.png"
                                                                                  class="me-3">Meu histórico</a>
            <br>
            <hr>
            <button id="logoutButton" type="button" class="btn btn-outline-danger" onclick="logout()">Sair</button>
        </center>
    </div>
</div>

<!-- Offcanvas para Barbeiro -->
<div class="offcanvas offcanvas-start primaryColor" data-bs-theme="dark" tabindex="-1" id="offcanvasBarber"
     aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Perfil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <center>
            <a style="font-size:130%" href="/myProfile" class="link-light "><img
                        src="static/images/usuario-de-perfil.png" class="me-3">Meu perfil</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/myAppointmentsBarber" class="link-light "><img
                        src="static/images/time-and-calendar.png" class="me-3">Meus agendamentos</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/inPersonAppointments" class="link-light "><img
                        src="static/images/relogio.png" class="me-3">Agendamento presencial</a>
            <br>
            <hr>
            <a style="font-size: 130%" href="/barberAvailability" class="link-light"><img
                        src="static/images/hair-salon.png" class="me-3">Período de serviço</a>
            <br>
            <hr>
            <a style="font-size: 130%" href="/barberSpecialSchedule" class="link-light"><img
                        src="static/images/compromisso.png" class="me-3">Disponibilidade Especial</a>
            <br>
            <hr>
            <button id="logoutButton" type="button" class="btn btn-outline-danger" onclick="logout()">Sair</button>
        </center>
    </div>
</div>

<!-- Offcanvas para Administrador -->
<div class="offcanvas offcanvas-start primaryColor" id="offcanvasAdmin" tabindex="-1" aria-labelledby="offcanvasAdminLabel"
     data-bs-theme="dark">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasAdminLabel">Painel do Administrador</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <center>
            <a style="font-size:130%" href="/myProfile" class="link-light "><img
                        src="static/images/usuario-de-perfil.png" class="me-3">Meu perfil</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/inPersonAppointments" class="link-light "><img
                        src="static/images/relogio.png" class="me-3">Agendamento presencial</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/appointmentAllBarbers" class="link-light "><img
                        src="static/images/compromisso.png" class="me-3">Agendamento dos barbeiros</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/service" class="link-light "><img
                        src="static/images/Designer.png" style="width: 32px" class="me-3">Serviços</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/birthdaysOfTheDay" class="link-light "><img
                        src="static/images/birthday-and-party.png" style="width: 32px" class="me-3">Aniversariantes</a>
            <br>
            <hr>
            <button id="logoutButton" type="button" class="btn btn-outline-danger" onclick="logout()">Sair</button>
        </center>
    </div>
</div>



<style>
    .container {
        width: 90%;
        max-width: 600px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        margin: 20px auto;
    }

    .card {
        color: white;
        padding: 15px;
        margin-bottom: 10px;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        text-align: left;
        position: relative;
    }

    .delete-btn {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .no-data {
        text-align: center;
        font-size: 16px;
        color: #666;
    }

    html, body {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
</style>
</html>