<!doctype html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BarberQuest</title>
    <link rel="shortcut icon" type="image/png" href="static/images/logo.png">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{.CSS}}">
</head>

<body>

<nav class="navbar navbar-expand-lg primaryColor sticky-top" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="static/images/logo.png" alt="logo" width="80cm" height="80cm">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 custom-spacing">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active" aria-current="page" href="/appointment">Agendar</a>
                </li>
            </ul>
            <center>
                <button id="loginButton" type="button" class="btn btn-outline-light" data-bs-toggle="modal"
                        data-bs-target="#modalLogin">Login
                </button>

                <button id="profileButton" class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" style="display: none">
                    Perfil
                </button>

            </center>
            </strong>
        </div>
    </div>
</nav>

<div class="main-content">
    <div class="container mt-5">
        <div class="container primaryColor rounded mt-5 text-center">
            <h1>Gerenciamento de Serviços</h1>
            <button class="btn btn-success my-3" data-bs-toggle="modal" data-bs-target="#createServiceModal">Adicionar
                Serviço
            </button>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered mt-3 table-secondary">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Duração (minutos)</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody id="servicesTable">
                <tr>
                    <td colspan="5" class="text-center">Carregando...</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<div id="footer-container"></div>


<script src="static/bootstrap/js/bootstrap.bundle.min.js" defer></script>
<script src="{{.JS}}" defer></script>

<script>
    const apiUrl = "/getAllService";
    const token = localStorage.getItem("jwt_token");

    async function loadServices() {
        const response = await fetch(apiUrl, {
            headers: {"Authorization": `Bearer ${token}`}
        });
        const services = await response.json();
        const tableBody = document.getElementById("servicesTable");
        tableBody.innerHTML = "";
        services.forEach(service => {
            const statusText = service.available ? "Disponível" : "Indisponível";
            tableBody.innerHTML += `
                <tr>
                    <td>${service.name}</td>
                    <td>R$ ${service.price.toFixed(2)}</td>
                    <td>${service.duration_minutes}</td>
                    <td>${statusText}</td>
                    <td>
                        <button class="btn btn-warning btn-sm" onclick="openEditModal(${service.ID}, '${service.name}', ${service.price}, ${service.duration_minutes}, ${service.available})">Editar</button>
                        <button class="btn btn-danger btn-sm" onclick="confirmDelete(${service.ID})">Excluir</button>
                    </td>
                </tr>`;
        });
    }

    async function createService() {
        isTokenExpired()
        const name = document.getElementById("newServiceName").value;
        const price = parseFloat(document.getElementById("newServicePrice").value);
        const duration = parseInt(document.getElementById("newServiceDuration").value);

        await fetch("/createService", {
            method: "POST",
            headers: {"Content-Type": "application/json", "Authorization": `Bearer ${token}`},
            body: JSON.stringify({name, price, duration_minutes: duration, available:true})
        });

        document.getElementById("newServiceName").value = "";
        document.getElementById("newServicePrice").value = "";
        document.getElementById("newServiceDuration").value = "";
        new bootstrap.Modal(document.getElementById("createServiceModal")).hide();
        loadServices();
    }

    async function updateService() {
        isTokenExpired();
        const id = document.getElementById("editServiceId").value;
        const name = document.getElementById("editServiceName").value;
        const price = parseFloat(document.getElementById("editServicePrice").value);
        const duration = parseInt(document.getElementById("editServiceDuration").value);
        const available = document.getElementById("editServiceAvailable").checked; // Obtém valor do checkbox

        await fetch(`/updateService/${id}`, {
            method: "PUT",
            headers: {"Content-Type": "application/json", "Authorization": `Bearer ${token}`},
            body: JSON.stringify({name, price, duration_minutes: duration, available})
        });

        new bootstrap.Modal(document.getElementById("editServiceModal")).hide();
        loadServices();
    }

    function openEditModal(id, name, price, duration, available) {
        document.getElementById("editServiceId").value = id;
        document.getElementById("editServiceName").value = name;
        document.getElementById("editServicePrice").value = price;
        document.getElementById("editServiceDuration").value = duration;
        document.getElementById("editServiceAvailable").checked = available; // Define valor do checkbox

        new bootstrap.Modal(document.getElementById("editServiceModal")).show();
    }

    async function deleteService(id) {
        isTokenExpired()
        await fetch(`/deleteService/${id}`, {
            method: "DELETE",
            headers: {"Authorization": `Bearer ${token}`}
        });
        loadServices();
    }

    loadServices();

    function confirmDelete(id) {
        showConfirm("Confirmação", "Tem certeza que deseja excluir este serviço?", () => deleteService(id));
    }
</script>
</body>

<div id="modals-placeholder"></div>

<!-- Modal para Criar Serviço -->
<div class="modal fade" id="createServiceModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content primaryColor">
            <div class="modal-header" data-bs-theme="dark">
                <h5 class="modal-title">Adicionar Serviço</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label>Nome</label>
                    <input type="text" id="newServiceName" class="form-control">
                </div>
                <div class="mb-3">
                    <label>Preço</label>
                    <input type="number" id="newServicePrice" class="form-control" step="0.01">
                </div>
                <div class="mb-3">
                    <label>Duração (minutos)</label>
                    <input type="number" id="newServiceDuration" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" onclick="createService()">Criar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Editar Serviço -->
<div class="modal fade" id="editServiceModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content primaryColor">
            <div class="modal-header" data-bs-theme="dark">
                <h5 class="modal-title">Editar Serviço</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="editServiceId">
                <div class="mb-3">
                    <label>Nome</label>
                    <input type="text" id="editServiceName" class="form-control">
                </div>
                <div class="mb-3">
                    <label>Preço</label>
                    <input type="number" id="editServicePrice" class="form-control" step="0.01">
                </div>
                <div class="mb-3">
                    <label>Duração (minutos)</label>
                    <input type="number" id="editServiceDuration" class="form-control">
                </div>
                <div class="mb-3">
                    <label>Status</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="editServiceAvailable">
                        <label class="form-check-label" for="editServiceAvailable">
                            Serviço disponível
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" onclick="updateService()">Salvar</button>
            </div>
        </div>
    </div>
</div>



<!-- Offcanvas para Usuário Comum -->
<div class="offcanvas offcanvas-start primaryColor" data-bs-theme="dark" tabindex="-1" id="offcanvasUser"
     aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Perfil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <center>
            <a style="font-size:130%" href="/myProfile" class="link-light "><img
                        src="static/images/usuario-de-perfil.png" class="me-3">Meu perfil</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/myAppointments" class="link-light "><img
                        src="static/images/time-and-calendar.png" class="me-3">Meus agendamentos</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/myHistoric" class="link-light "><img src="static/images/relogio.png"
                                                                                  class="me-3">Meu histórico</a>
            <br>
            <hr>
            <button id="logoutButton" type="button" class="btn btn-outline-danger" onclick="logout()">Sair</button>
        </center>
    </div>
</div>

<!-- Offcanvas para Barbeiro -->
<div class="offcanvas offcanvas-start primaryColor" data-bs-theme="dark" tabindex="-1" id="offcanvasBarber"
     aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Perfil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <center>
            <a style="font-size:130%" href="/myProfile" class="link-light "><img
                        src="static/images/usuario-de-perfil.png" class="me-3">Meu perfil</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/myAppointmentsBarber" class="link-light "><img
                        src="static/images/time-and-calendar.png" class="me-3">Meus agendamentos</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/inPersonAppointments" class="link-light "><img
                        src="static/images/relogio.png" class="me-3">Agendamento presencial</a>
            <br>
            <hr>
            <a style="font-size: 130%" href="/barberAvailability" class="link-light"><img
                        src="static/images/hair-salon.png" class="me-3">Período de serviço</a>
            <br>
            <hr>
            <a style="font-size: 130%" href="/barberSpecialSchedule" class="link-light"><img
                        src="static/images/compromisso.png" class="me-3">Disponibilidade Especial</a>
            <br>
            <hr>
            <button id="logoutButton" type="button" class="btn btn-outline-danger" onclick="logout()">Sair</button>
        </center>
    </div>
</div>

<!-- Offcanvas para Administrador -->
<div class="offcanvas offcanvas-start primaryColor" id="offcanvasAdmin" tabindex="-1" aria-labelledby="offcanvasAdminLabel"
     data-bs-theme="dark">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasAdminLabel">Painel do Administrador</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <center>
            <a style="font-size:130%" href="/myProfile" class="link-light "><img
                        src="static/images/usuario-de-perfil.png" class="me-3">Meu perfil</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/inPersonAppointments" class="link-light "><img
                        src="static/images/relogio.png" class="me-3">Agendamento presencial</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/appointmentAllBarbers" class="link-light "><img
                        src="static/images/compromisso.png" class="me-3">Agendamento dos barbeiros</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/service" class="link-light "><img
                        src="static/images/Designer.png" style="width: 32px" class="me-3">Serviços</a>
            <br>
            <hr>
            <a style="font-size:130%" href="/birthdaysOfTheDay" class="link-light "><img
                        src="static/images/birthday-and-party.png" style="width: 32px" class="me-3">Aniversariantes</a>
            <br>
            <hr>
            <button id="logoutButton" type="button" class="btn btn-outline-danger" onclick="logout()">Sair</button>
        </center>
    </div>
</div>

</html>

<style>
    html, body {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
</style>
