<footer class="container-fluid primaryColor pt-3">

  <div class="row justify-content-around">
    <div class="col-10 col-md-5">
      <center>
        <a href="https://wa.me/5511111111111?text=" target="_blank">
          <p class="fs-5">
            <img src="static/images/whatsapp.png" alt="whatsapp" style="max-width: 3rem;">
            +55 (11) 11111-1111
          </p>
        </a>
      </center>
    </div>
    <div class="col-10 col-md-5">
      <center>
        <a href="https://www.instagram.com" target="_blank">
          <p class="fs-5">
            <img src="static/images/logotipo-do-instagram.png" alt="instagram" style="max-width: 3rem;">
            @BarberQuest
          </p>
        </a>
      </center>
    </div>
  </div>
</footer>