<div id="modals-container">

    <!-- Modal Criar conta -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal_Novo_Usuario">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content rounded-4 shadow primaryColor" data-bs-theme="dark">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <img src="static/images/logo.png" width="30%">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body p-5 pt-0">
                    <form class="" id="Forms_Novo_Usuario">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control rounded-3" id="createUserName" placeholder="">
                            <label class="text-white">Nome Completo</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control rounded-3" id="createUserEmail" placeholder="">
                            <label class="text-white">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control rounded-3" id="createUserPhone"
                                   placeholder="(XX) XXXXX-XXXX" maxlength="15">
                            <label class="text-white">Telefone</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control rounded-3" id="createUserDateOfBirth" placeholder="">
                            <label class="text-white">Data de Nascimento</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control rounded-3" id="createUserPassword" placeholder="">
                            <label class="text-white">Senha</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control rounded-3" id="createUserConfirmPassword"
                                   placeholder="">
                            <label class="text-white">Confirme sua senha</label>
                        </div>
                        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-outline-success"
                                type="submit">Cadastrar
                        </button>
                        <p class="text-body-secondary">Ao clicar em Cadastrar, você concorda com os
                            <a onclick="showTermsOfUse()" role="button" style="cursor: pointer;" class="link-light">termos
                                de uso</a>.
                        </p>
                        <a class="text-white" id="Nova_conta" href="#" data-bs-toggle="modal"
                           data-bs-target="#modalLogin">Já é cadastrado clique aqui.</a>
                        <hr class="my-4">
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Login -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modalLogin">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content rounded-4 shadow primaryColor" data-bs-theme="dark">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <img src="static/images/logo.png" width="30%">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body p-5 pt-0">
                    <form id="Forms_Login">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control rounded-3" id="email" required>
                            <label for="email" class="text-white">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control rounded-3" id="password" required>
                            <label for="password" class="text-white">Senha</label>
                        </div>
                        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-outline-success" type="submit">Logar</button>
                        <p class="text-body-secondary">
                            Ao clicar em Logar, você concorda com os
                            <a onclick="showTermsOfUse()" role="button" style="cursor: pointer;" class="link-light">termos
                                de uso</a>.
                        </p>
                        <a class="text-white" href="" data-bs-toggle="modal" data-bs-target="#modalChangePassword">Esqueci a
                            minha senha.</a>
                        <br><br>
                        <a class="text-info " href="" data-bs-toggle="modal" data-bs-target="#modal_Novo_Usuario">Não tem
                            conta? Clique aqui.</a>
                        <hr class="my-4">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Change Password -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modalChangePassword">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content rounded-4 shadow primaryColor" data-bs-theme="dark">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <img src="static/images/logo.png" width="30%">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body p-5 pt-0">
                    <p>Insira seu email para recuperar a sua conta.</p>
                    <form id="FormsChangePassword">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control rounded-3" id="emailChangePassword" required>
                            <label for="email" class="text-white">Email</label>
                        </div>
                        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-outline-success" type="submit">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Alert -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modalAlert">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content rounded-4 shadow-lg primaryColor text-white p-4" data-bs-theme="dark">

                <!-- Ícone de alerta e título -->
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="modal-title fw-bold" id="alertTitle">⚠️ Atenção</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-label="Fechar"></button>
                </div>

                <!-- Mensagem de alerta -->
                <div class="modal-body text-center">
                    <p id="alertMessage" class="fs-5"></p>
                </div>

                <!-- Botão de ação -->
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-light px-4" data-bs-dismiss="modal">OK</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal de Confirmação -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modalConfirm">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content rounded-4 shadow-lg primaryColor text-white p-4" data-bs-theme="dark">

                <!-- Ícone de confirmação e título -->
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="modal-title fw-bold" id="confirmTitle"></h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>

                <!-- Mensagem de confirmação -->
                <div class="modal-body text-center">
                    <p id="confirmMessage" class="fs-5"></p>
                </div>

                <!-- Botões de ação -->
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-light px-4" id="cancelButton" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-outline-success px-4" id="confirmButton">Confirmar</button>
                </div>

            </div>
        </div>
    </div>

</div>
